body {
    font-family:"Antic Slab";
    background-color: #c9ebff;
    color: #8C0900;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Metal Mania";
    font-size:40pt;
}

header {
    text-align:center;
}

#hero, footer{
    color: #1277ad;
    border: 2px solid #8C0900;
    background-color: #FFC9C6;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;
}

#bio {
    text-align:center;
}